.admin-container {
  background-color: #f4f4f4;
  color: #333;
  /* padding: 20px; ayaw ni hilabta */ 
  font-family: poppins, sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
 
 }
 .admin-delete:hover{
  background-color: red;
}

  .edit-button {
    margin: 10px;
  }
  
  .admin-profile {
    text-align: center;
    margin-bottom: 20px;
    flex-shrink: 0;
    background-color: rgba(40, 108, 131, 0.2); 
    border-radius: 10px; 
    padding: 25px;
    margin-left: 30px;
  }
  
  .admin-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #232f33;
  }
  
  .appointment-table {
    width: 50%;
    margin-bottom: 29%;

   
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin:10%;
  }
  
  th, td {
    border: 2px solid #000000;
    text-align: left;
    padding: 30px;
    white-space: nowrap;
    overflow: hidden;

  }
  
  th {
    background-color: #232f33;
    color: white;
    padding: 12px;
    text-align: center;
  }
  
  th:hover {
    background-color: #232f33;
  }
  